@media screen and (min-width: 841px) {
    body {
        font-family: "Sansation", sans-serif;
        font-weight: 400;
        font-style: normal;

    }

    header {
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        padding: 0.5rem 2rem;
        font-family: "Sansation", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .hamburger-menu {
        display: none;
    }

    nav {
        display: block;
        height: auto;
        opacity: 1;
        transform: none;
        background-color: transparent;
        padding: 0.5rem 0;
        animation: none;
    }

    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0rem;
        justify-content: center;
    }

    h1 {
        font-size: 2.8rem;

    }

    .container-hero h1 {
        padding: 3rem;
        font-size: 2.8rem;
    }

    .hero img {

        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        margin-top: 15px;
    }

    .video-container {
        margin: 2rem 7rem;
        background: linear-gradient(to bottom, #d4a699, #3f84bd);
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
        text-align: center;

    }

    #video-slider {
        overflow: visible;
    }

    #options-list {
        padding: 0.5rem 2rem;
    }

    #comentarios {
        padding: 0.5rem 2rem;
    }

    .ubicacion .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0.5rem 2rem;
    }

    #restaurant-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0.5rem 2rem;
    }

    .restaurantes {
        padding: 0.5rem 2rem;
    }

    .faq-section {
        padding: 0.5rem 2rem;
    }

    #faq-container {
        grid-template-columns: 1fr 1fr;
    }

    .room-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    form {
        max-width: 600px;
        margin: 2rem auto;
    }

    #room-preview img {
        width: 40%;
        height: auto;
        border-radius: 0.5rem;
    }
}
@media (min-width: 768px) {
    main {
        padding: 2rem 5rem;
    }

    .historia p, .propietarios p, .mejoras p {
        max-width: 800px;
        margin: 0 auto;
    }

    .galeria-grid {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    #footer-links {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}
