* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  padding: .5rem;
  background-color: #f4f4f4;
  overflow-x: hidden;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;


}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background-color: #e7e7e7;
  color: white;
  padding: .5rem 2rem;

}

.hamburger-menu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 1rem;
}


nav {
  width: 100%;

  padding: 0.5rem 0;
  border-radius: 5px;

}

.navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0rem;
  flex-wrap: wrap;
  width: 100%;
}

.navigation li {
  flex: 1;
  text-align: center;
}

.navigation a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.75rem;
  transition: background-color 0.3s ease-in-out;

}

.navigation a:hover {
  background-color: #37a6aa63;
  border-radius: 25px;
}

#footer-container {
  width: 100%;
  padding: 1rem 0rem;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: #000000;

  text-align: center;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  justify-content: center;
  margin-top: 1rem;

}

a {
  text-decoration: none;
  color: black;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: .5rem;
  margin-bottom: .5rem;
}




.hero-image {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  touch-action: none;
}

.slider-track img {
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.slider-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #000;
}